*.tr
*.pcap
build/*
.waf*
.lock-waf*
.vscode/*

**/output/
**/results/
**/experiments/
**/analyze/figures/
**/analyze/trace_analysis/
**/analyze/raw_basic/
mix/*_flow.txt
config/*_flow.txt
simulation_output.txt
conn.txt
link_util.txt
compare_meta.txt

*.png
*.pdf
*.csv

**/*.pyc
.vscode
__pycache__

